.section-lead {
    display: flex;
    align-items: flex-end;
    padding: 100px 50px 0;
}



.section-title {
    width: 100%;
}

.section-sub_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.section-title__object {
    width: 50px;
    height: 20px;
    display: block;
    background-image: linear-gradient(90deg, #feb47be6 0%, #ff794d 50%, rgba(255, 188, 137, 0.902) 100%);
    background-position: 0% 0%;
    background-size: 1000px 100%;
    animation: Grad 3s linear infinite;
    animation-delay: 0.5s;
    border-radius: 5px;
}

@keyframes Grad {
    0% {
        background-position: 0 0%;
    }

    100% {
        background-position: 1000px 0%;
    }
}

.section-sub_title p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.section-main_title h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    padding-top: 20px;
    /*color: #333;*/
    background: linear-gradient(to right, #F15A24, #ff9d00, #ff9900);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media screen and (max-width: 1000px) {
    .section-lead {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 720px) {
    .section-lead {
        padding: 60px 20px 0;
    }

    .section-main_title h2 {
        font-size: 3.6rem;
    }
}


.fv {
    border-radius: 20px 20px 0 0;
    background-color: transparent;
    clip-path: inset(0 0 0 -120px);
}

.fv-bg {
    height: 100vh;
    width: calc(100% - 40px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}


.fv-bg__video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center bottom;
}

.fv-bg::after {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.fv-top {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    gap: 50px;
}

.fv-logo {
    width: 55%;
}

.fv-logo svg {
    overflow: visible;
}

.logo-letters.after-loading path {
    stroke: #ffffff;
    stroke-width: 0.8px;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    fill: rgba(255, 255, 255, 0);
    animation:
        drawLine 1.4s cubic-bezier(0.65, 0, 0.35, 1) forwards,
        fillColor 0.6s ease 1.1s forwards;
}

.logo-red-dots path {
    opacity: 0;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(0);
}

.logo-red-dots .dot-1.after-loading {
    animation: popRedDot 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 1.55s forwards;
}

.logo-red-dots .dot-2.after-loading {
    animation: popRedDot 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 1.70s forwards;
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillColor {
    to {
        fill: rgba(255, 255, 255, 1);
        stroke-width: 0px;
    }
}

@keyframes popRedDot {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fv-title {
    position: relative;
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.animate-title {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    gap: 5px;
    padding-left: 20px;
}

.animate-title.inview.after-loading {
    opacity: 1;
}

.animate-title.inview .char.after-loading {
    display: inline-block;
    animation-name: kf-animate-chars;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
    animation-delay: 0.1s;
}

.animate-title.inview .char:nth-child(2) {
    animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(3) {
    animation-delay: 0.3s;
}

.animate-title.inview .char:nth-child(4) {
    animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(5) {
    animation-delay: 0.5s;
}

.animate-title.inview .char:nth-child(6) {
    animation-delay: 0.6s;
}

.animate-title.inview .char:nth-child(7) {
    animation-delay: 0.7s;
}

.animate-title.inview .char:nth-child(8) {
    animation-delay: 0.8s;
}

.animate-title.inview .char:nth-child(9) {
    animation-delay: 0.9s;
}

.animate-title.inview .char:nth-child(10) {
    animation-delay: 1s;
}

.animate-title.inview .char:nth-child(11) {
    animation-delay: 1.1s;
}

@keyframes kf-animate-chars {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-down__wrapper {
    position: absolute;
    bottom: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0,
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down__line {
    width: 1px;
    height: 80px;
    background: linear-gradient(to bottom, transparent, #fff);
    animation: extend 2s infinite;
    margin-inline: auto;
}

.scroll-down p {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}

@keyframes extend {

    0%,
    100% {
        height: 0;
    }

    50% {
        height: 80px;
    }
}

.fv-message {
    position: relative;
    width: fit-content;
    padding: 30vh 0 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    margin: 0 auto;
}

.fv-message p {
    font-size: 1.6rem;
    line-height: 3.8rem;
    letter-spacing: 0.16rem;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.2);

}

.fv-message p:first-child {
    padding-top: 0;
}

.fv-message .fv-messege__copy-wrapper {
    height: 100vh;
    position: relative;
    margin-top: 560px;
}

.fv-message .fv-messege__copy {
    position: sticky;
    top: 45vh;
}

.fv-message .fv-messege__copy p {
    font-size: 2.4rem;
    letter-spacing: 0.28rem;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.2);
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    .fv {
        border-radius: 20px 20px 0 0;
        background-color: transparent;
        clip-path: inset(0);
    }

    .fv-bg {
        width: 100%;
        left: 0;
    }

}

@media screen and (max-width: 720px) {
    .fv-logo {
        width: 85%;
    }

    .fv-message p {
        font-size: 1.4rem;
        line-height: 3.4rem;
        letter-spacing: 0.1rem;
    }

    .fv-message .fv-messege__copy p {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
}

.about {
    width: 100%;
}

.about-lead {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

}

.about-lead__title {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.about-lead__description {
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding-top: 20px;
}

.about-partner {
    width: 100%;
    overflow-x: hidden;
    padding: 50px 20px 0;
}

.about-partner__list {
    display: flex;
    margin: 0;
    padding: 12px 0;
    width: max-content;
}

.about-partner__item {
    flex-shrink: 0;
    padding: 0 7px;
}

.about-partner__item img {
    height: 3.8vw;
    min-height: 50px;
    border-radius: 5px;
    width: auto;
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-partner__track-left__slow {
    animation: scroll-left 50s linear infinite;
}

.about-partner__track-left {
    animation: scroll-left 40s linear infinite;
}

.about-partner__track-right {
    animation: scroll-right 45s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 720px) {

    .about-lead__title {
        font-size: 1.8rem;
        line-height: 3.0rem;
    }

    .about-lead__description {
        padding-top: 15px;
    }

    .about-partner__list {
        padding: 10px 0;
    }

    .about-partner__item {
        padding: 0 5px;
    }

    .about-partner__item img {
        min-height: 35px;
    }
}


.service {
    width: 100%;
}

.service-lead {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

}

.service-lead__number {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3.6rem;
}

.service-lead__title {
    font-size: 2.4rem;
    line-height: 3.8rem;
    font-weight: 500;
}

.service-lead__description {
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding-top: 20px;
}

.service-marketing {
    width: calc(100% - 100px);
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 0 50px 0;
    margin-top: 50px;
    background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}

.service-marketing__bg-video__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    clip-path: inset(0 round 15px 15px 0 0);
}

.service-marketing__bg-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    /*border-radius: 15px;*/
}

.service-marketing__title-wrapper {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 200px;
}

.service-marketing__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.service-marketing__title h3 {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: fit-content;
    color: #fff;
}

.service-marketing__title p {
    font-size: 1.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.16rem;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.service-marketing__area-wrapper {
    position: relative;
    height: 500vh;
}

.service-marketing__area {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 35px 0 0 0;*/
    pointer-events: none;
}

.service-marketing__box {
    position: relative;
    width: 100%;
    /*max-width: calc(100% - 100px);*/
    height: 100%;
    pointer-events: auto;
}

.service-marketing__box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transform-origin: center top;
}

.service-marketing__box-content-text {
    display: flex;
    height: 100%;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 35px;
    backdrop-filter: blur(12px);
}

.service-marketing__box-content-text h5 {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0 0 20px 0;
}

.service-marketing__box-content-text h4 {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-align: center;
    padding: 0 0 20px;
}

.service-marketing__box-content-text p {
    font-size: 1.5rem;
    line-height: 3.6rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.service-marketing__box-content-text__number {
    font-size: 2.0rem;
    font-weight: 400;
    position: absolute;
    left: 15px;
    top: 6px;
    opacity: 1;
    z-index: 100;
}

.service-marketing__box-content-text__number-first {
    font-size: 2.0rem;
    font-weight: 400;
    position: absolute;
    left: 15px;
    top: 6px;
    opacity: 1;
    z-index: 100;
}

.service-marketing__box-content-img {
    height: 50%;
    width: 55%;
    overflow: hidden;
    box-shadow: -5px -5px 50vh 40vh rgba(0, 0, 0, 0.4), 5px 5px 50vh 40vh rgba(0, 0, 0, 0.4);
}

.service-marketing__box-content-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.service-marketing__box-content.c-1 {
    background-image: url('../img/company01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.service-marketing__box-content.c-2 {
    background-image: url('../img/company02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.service-marketing__box-content.c-3 {
    background-image: url('../img/company03.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.service-marketing__box-content.c-4 {
    background-image: url('../img/company04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 4;
}

.service-marketing__box-content.c-5 {
    background-image: url('../img/company05.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
}

#stickyContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.service-button {
    margin-right: 50px;
}

.section-lead.service-liver {
    padding-top: 50px;

}

.section-lead.service-liver .service-lead {
    margin-top: 0;
}

.service-liver__entry-wrapper {
    width: calc(100% - 100px);
    border-radius: 15px;
    display: flex;
    padding: 50px 50px;
    margin: 50px auto 0;
    min-height: 500px;
    gap: 30px;
    background-color: #F15A24;
}

.service-liver__entry-img {
    width: 100%;
    min-height: 500px;
    display: flex;
    position: relative;
}

.service-liver__entry-img__first {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 85%;
    overflow: hidden;
}

.service-liver__entry-img__second {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 55%;
    overflow: hidden;
}

.service-liver__entry-img__first img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.service-liver__entry-img__second img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.service-liver__entry-inner {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.service-liver__entry {
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 0 0 8px;
    border-radius: 10px;
    overflow: hidden;
}

.service-liver__entry-icon {
    height: 100%;
    width: 28px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.service-liver__entry-icon img {
    width: 100%;
    border-radius: 10px;
}

.service-liver__entry-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1;
    transition: 0.3s;
}

.service-liver__entry-text h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

.service-liver__entry-arrow {
    height: 100%;
    width: 68px;
    border: 0;
    padding: 0;
    padding-left: 22px;
    background-color: #06c755;
    transition: 0.3s;
}

.service-liver__entry-inner .service-button {
    margin-top: 15px;
}

.service-liver__entry:hover .service-liver__entry-text,
.service-liver__entry:hover .service-liver__entry-arrow {
    opacity: 0.6;
    transition: 0.3s;
}

.service-liver__entry-arrow svg {
    width: 25px;
    stroke: #fff;
}

.service-liver__entry-inner .button a {
    background: #fff;
}

@media screen and (max-width: 1060px) {

    .service-marketing__box-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-marketing__box-content-text {
        display: flex;
        height: auto;
        width: auto;
        backdrop-filter: blur(0);
    }

    .service-marketing__box-content-img {
        display: none;
    }

    .service-marketing__box-content-img img {
        display: none;
    }

    .service-liver__entry-wrapper {
        flex-direction: column;
    }

    .service-liver__entry-inner .service-button {
        margin-right: 0;
    }

    .service-liver__entry-inner {
        align-items: flex-end;
    }
}

@media screen and (max-width: 720px) {

    .service-lead__number {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }

    .service-lead__title {
        font-size: 1.8rem;
        line-height: 3.0rem;
        letter-spacing: 0;
    }

    .service-lead__description {
        padding-top: 15px;
    }

    .service-marketing {
        width: calc(100% - 40px);
    }

    .service-marketing__title h3 {
        font-size: 1.4rem;
    }

    .service-marketing__title p {
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: 0.1rem;
    }

    /*.service-marketing__box {
        max-width: calc(100% - 40px);
    }*/

    .service-marketing__box-content-text {
        backdrop-filter: blur(0);
        padding-bottom: 15vh;
    }

    .service-marketing__box-content-text h5 {
        font-size: 1.4rem;
        padding: 0 0 15px 0;
    }

    .service-marketing__box-content-text h4 {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        padding: 0 0 15px;
    }

    .service-marketing__box-content-text p {
        font-size: 1.3rem;
        line-height: 2.4rem;
        letter-spacing: 0.1rem;
    }

    .service-marketing .service-button {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .service-liver__entry-wrapper {
        width: calc(100% - 40px);
        padding: 50px 20px;
    }

    .service-liver__entry {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .service-liver__entry-img__second {
        height: 40%;
    }
}


.works {
    width: 100%;
}

.works-list__wrapper {
    position: relative;
}

.works-list__controls {
    position: absolute;
    right: 50px;
    top: -52px;
    display: flex;
    gap: 8px;
}

.works-list__prev-button,
.works-list__next-button {
    background: #fff;
    padding: 15px 18px;
    border-radius: 10px;
}

.works-list__prev-button svg {
    stroke: #333;
    width: 30px;
    transition: 0.2s;
}

.works-list__prev-button:hover svg {
    opacity: 0.3;
    transition: 0.2s;
}

.works-list__prev-button.is-disabled,
.works-list__next-button.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.works-list__prev-button.is-disabled svg {
    stroke: rgba(51, 51, 51, 0.2);
    pointer-events: none;
}

.works-list__next-button.is-disabled svg {
    stroke: rgba(51, 51, 51, 0.2);
    pointer-events: none;
}

.works-list__next-button svg {
    stroke: #333;
    width: 30px;
    transition: 0.2s;
}

.works-list__next-button:hover svg {
    opacity: 0.3;
    transition: 0.2s;
}

.works-list__ul-wrapper {
    overflow: hidden;
    padding-top: 35px;
    margin: 0 0 0 30px;
}

.works-list {
    display: flex !important;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.works-list .slick-slide {
    height: auto !important;
}

.works-list .slick-track {
    display: flex;
}

.works-list .slick-list {
    width: 100%;
}

.works-list .slick-list {
    padding: 0 20px;
    margin-right: -20px;
}

.works-list li {
    width: 30vw;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.2s;
    cursor: pointer !important;
}

.works-list:has(li:hover) li:not(:hover) {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.works-list__contents a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.works-list li:last-child {
    margin-right: 0 !important;
    position: relative;
}

.works-list__last_contents {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -110px;
    margin: auto 0;
    width: 80px;
    height: 80px;
    border-radius: 900px;
    background-color: #fff;
    transition: 0.4s;
}

.works-list__last_contents a {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works-list__last_contents svg {
    width: 100%;
    stroke: #333;
    transition: 0.2s;
}

.works-list__last_contents:hover svg {
    opacity: 0.3;
    transition: 0.2s;
}

.works-list__contents {
    width: 100%;
    padding: 30px 20px 30px;
    transition: 0.3s;
}

.works-list__img {
    aspect-ratio: 320 / 400;
    overflow: hidden;
}

.works-list__img img {
    object-fit: cover;
    height: 130%;
    width: 100%;
}

.works-list:has(li:hover) li:not(:hover) .works-list__img img {
    filter: saturate(0);
    transition: 0.3s ease-in-out;
}


.works-list__title {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    padding-top: 25px;
    transition: 0.3s;
}

.works-list__category {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding-top: 15px;
    transition: 0.3s;
}

.works-list__tag-wrapper {
    display: flex;
    gap: 7px;
    padding-top: 25px;
    flex-wrap: wrap;
}

.works-list__tag {
    display: flex;
    border: solid 1px #d2d2d2;
    background-color: #fff;
    padding: 4px 10px 5px;
    border-radius: 100px;
    transition: 0.3s;
}

.works-list__tag h4 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 400;
    color: #5b5b5b;
}

.works-list__tag h4::before {
    content: "#";
    font-size: 1.6rem;
    padding-right: 1px;
    display: inline-block;
}

.works-list__contents:hover .works-list__title,
.works-list__contents:hover .works-list__category,
.works-list__contents:hover .works-list__tag {
    opacity: 0.7;
    transition: 0.3s;
}

.works .button {
    margin-right: 50px;
}

@media screen and (max-width: 1000px) {
    .works-list li {
        width: 35vw;
        min-width: 330px;
    }
}

@media screen and (max-width: 720px) {

    .works-list__controls {
        right: 20px;
    }

    .works-list__ul-wrapper {
        margin: 0;
    }

    .works-list li {
        width: 68vw;
        min-width: 68vw;
    }

    .works-list__contents {
        padding: 20px 15px 20px;
    }

    .works-list__last_contents {
        right: -80px;
        width: 60px;
        height: 60px;
    }

    .works-list__last_contents a {
        padding: 14px;
    }

    .works-list__img {
        aspect-ratio: 1 / 1;
    }

    .works .button {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}


.member {
    width: 100%;
}

.member-list__wrapper {
    padding: 50px 50px 0;
    width: 100%;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.member-list li {
    width: calc((100% - 20px * 2) / 3);
    padding-bottom: 25px;

}

.member-list li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.member-list li:last-child {
    padding-bottom: 0;
}

.member-list__img {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1.4 / 1;
}

.member-list__img img {
    object-fit: cover;
    height: 130%;
    transition: 0.3s;
}

.member-list li:hover .member-list__img img {
    scale: calc(1.1);
    transition: 0.3s;
}

.member-list li:hover .member-list__name,
.member-list li:hover .member-list__name_en,
.member-list li:hover .member-list__position {
    opacity: 0.5;
    transition: 0.4s;
}

.member-list__name {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding: 25px 10px 0 10px;
    display: flex;
    justify-content: flex-start;
    transition: 0.4s;
}

.member-list__name_en {
    font-size: 1.3rem;
    padding-top: 5px;
    font-weight: 400;
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: flex-start;
    transition: 0.4s;
}

.member-list__position {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 15px 10px 0 10px;
    display: flex;
    justify-content: flex-end;
    transition: 0.4s;
}

.member-list__position::before {
    content: "/";
    display: inline-block;
    padding-right: 5px;
}

.member .button {
    margin-right: 50px;
}

@media screen and (max-width: 720px) {
    .member-list__wrapper {
        padding: 50px 20px 0;
    }

    .member-list {
        gap: 10px;
    }

    .member-list li {
        width: calc((100% - 10px * 1) / 2);
        padding-bottom: 15px;
    }

    .member-list__img {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }

    .member-list__name {
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 15px 0 0 0;
    }

    .member-list__name_en {
        font-size: 1.3rem;
        padding-top: 5px;
        font-weight: 400;
        padding: 5px 0 0 0;
    }

    .member-list__position {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 500;
        padding: 10px 0 0 0;
    }

    .member .button {
        padding-right: 20px;
        padding-left: 20px;
    }
}


.blog {
    padding-bottom: 100px;
}

.blog-list__wrapper {
    padding: 50px 50px 0;
    display: flex;
    align-items: flex-end;
    gap: 100px;
}

.blog-list {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.blog-list li {
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.blog-list li:last-child {
    margin-bottom: 0;
}

.blog-list li a {
    display: flex;
    flex-direction: column;
    position: relative;
}

.blog-list li:hover .blog-list__contents {
    opacity: 0.6;
    transition: 0.3s;
}

.blog-list__contents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
    gap: 30px;
}

.blog-list li:hover .blog-list__contents {
    opacity: 0.6;
    transition: 0.3s;
}

.blog-list__contents-img {
    height: auto;
    width: auto;
    overflow: hidden;
}

.blog-list__contents-img img {
    height: 80px;
    width: 120px;
    object-fit: cover;
}

.blog-list__contents-caption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;
    overflow: hidden;
    flex: 1;
}

.blog-list__contents-caption__date {
    display: flex;
    gap: 10px;
    font-size: 1.3rem;
}

.blog-list__contents-caption__date time {
    letter-spacing: 0.12rem;
    font-weight: 400;
}

.blog-list__contents-caption__title {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .blog-list__wrapper {
        flex-direction: column;
        gap: 0;
    }

    .blog-list {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .blog-list__wrapper {
        padding: 50px 20px 0;
    }


    .blog {
        padding-bottom: 60px;
    }

    .blog-list__contents {
        gap: 15px;
    }

    .blog-list li {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .blog-list__contents-img img {
        height: 70px;
        width: 95px;
        object-fit: cover;
    }

    .blog-list__contents-caption {
        gap: 8px;
    }

    .blog-list__contents-caption__date {
        gap: 5px;
        font-size: 1.2rem;
    }

    .blog-list__contents-caption__title {
        font-size: 1.4rem;
    }
}
